.header {
    width: 100vw;
    height: 9.5vh;
}

.header__content{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_ttl {
    font-size: 25px;
    font-weight: bold;
}

.main__content {
    height: 85vh;
    background: #F2F2F2;
}

.footer {
    width: 100%;
    height: 5vh;
}

.footer__txt {
    text-align: center;
    padding: 10px;
}

.footer__tag {
    font-weight: bold;
}