.attendance {
    width: 90vw;
    margin: 0 auto;
}

.date {
    display: flex;
    font-size: 22px;
    text-align: center;
    padding: 40px 0 40px;
    justify-content:  center;
}

.date__title {
    padding: 5px;
    margin: 0 10px;

}

.date__title-before,
.date__title-after {
    border: 1px solid #0000ff;
    color: #0000ff;
    padding: 5px;
    margin: 0 10px;
    background: #FFFFFF;
}

.work-time {
    border-top: 1px solid #b0afaf;
}

.work-time__table {
    width: 100%;
}

.table__row {
    height: 10vh;
    border-bottom: 1px solid #b0afaf;
}

.table__row:last-child {
    border: none;
}

.work-time__title,
.work-time__item {
    padding: 25px 40px;
    vertical-align: middle;
    font-weight: 600;
}

