.content__area {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}

.content__area-message {
    height: 15vh;
    align-content: center;
}

.content_message {
    font-size: 25px;
    font-weight: 400;
}

.flash_message {
    font-size: 20px;
    color: #ff0000;
    padding-top: 15px;
}

.stamp__area {
    font-size: 25px;
    font-weight: 400;
}

.stamp__area-top ,
.stamp__area-bottom {
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

.start__button ,
.end__button,
.break_start__button,
.break-end__button {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background: #FFFFFF;
    width: 25vw;
    height: 22vh;
    padding: 20px;
}

/* 出勤ボタンが押されたときの制御 */
.start__button.disabled,
.end__button.disabled,
.break_start__button.disabled,
.break-end__button.disabled {
    color: #c7c5c5;
    cursor: not-allowed;
}